body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
    text-align:center;
}

header{
    background:#333;
    color:white;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
}

section{
    padding:30px;
}

#home img{
    width:80%;
    border-radius:10px;
}

.card{
    display:inline-block;
    width:200px;
    margin:10px;
    background:white;
    padding:10px;
    border-radius:10px;
}

.card img{
    width:100%;
    border-radius:10px;
}

#gallery img{
    width:220px;
    margin:10px;
    border-radius:10px;
}

input,textarea{
    width:250px;
    padding:8px;
    margin:8px;
}

button{
    padding:10px 20px;
    background:orange;
    color:white;
    border:none;
    border-radius:5px;
}

footer{
    background:#333;
    color:white;
    padding:15px;
}
#location{
    margin-top:15px;
    font-weight:bold;
    color:green;
}
.menu-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}
.gallery{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
    justify-items:center;
}.modal{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.modal:target{
    display:block;
}

.popup{
    width:300px;
    background:white;
    margin:150px auto;
    padding:20px;
    text-align:center;
    border-radius:10px;
}
